<!DOCTYPE html>
<html ng-app='ROCA'>
	<head>
		<meta charset="UTF-8">
		<title>ROCA ERP</title>
<!--
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/toastr/toastr.css" />
-->
    <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
<!--    <link rel='stylesheet' href='/stylesheets/style.css' />-->
		<base href="/" />
		<% include ../includes/styles %>
		<% include ../includes/scripts %>
	</head>
	<body>
	<% include ../includes/currentUser %>
	</body>
</html>
