<!-- EXTERNAL DEPENDNCIES -->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/toastr/toastr.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script type="text/javascript" src="/bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>

<!-- APP CONTROLLERS -->

<script type="text/javascript" src="/app/ngapp.js"></script>
	<!--Main Module-->
	<script type="text/javascript" src="/app/controllers/main/rcHomeCtrl.js"></script>

	<!--Assets Module-->
	<script type="text/javascript" src="/app/controllers/assets/rcAssetsSrc.js"></script>
	<script type="text/javascript" src="/app/controllers/assets/rcAssetsCtrl.js"></script>
	<script type="text/javascript" src="/app/controllers/assets/rcAssetsFcty.js"></script>

	<!--Authentication Module-->
	<script type="text/javascript" src="/app/controllers/authentication/rcLoginCtrl.js"></script>
	<script type="text/javascript" src="/app/controllers/authentication/rcUserInfoFcty.js"></script>

	<!--Clients Module-->
	<script type="text/javascript" src="/app/controllers/clients/rcClientsCtrl.js"></script>
	<script type="text/javascript" src="/app/controllers/clients/rcClientsFcty.js"></script>

	<!--Human Resource Module-->
	<script type="text/javascript" src="/app/controllers/humanResource/rcHumanResourceCtrl.js"></script>
	<script type="text/javascript" src="/app/controllers/humanResource/rcHumanResourceFcty.js"></script>
	<script type="text/javascript" src="/app/controllers/humanResource/rcHumanResourceSrc.js"></script>

    <!--Users Module-->
	<script type="text/javascript" src="/app/controllers/users/rcUsersCtrl.js"></script>
	<script type="text/javascript" src="/app/controllers/users/rcUsersFcty.js"></script>
    <script type="text/javascript" src="/app/controllers/users/rcPermissionsCtrl.js"></script>
	<script type="text/javascript" src="/app/controllers/users/rcPermissionsFcty.js"></script>

	<!--Location Module-->
	<script type="text/javascript" src="/app/controllers/locations/rcLocationsCtrl.js"></script>

	<!--Common Controllers-->
	<script type="text/javascript" src="/app/controllers/common/rcUserBarCtrl.js"></script>
	<script type="text/javascript" src="/app/controllers/common/rcMenuCtrl.js"></script>
	<script type="text/javascript" src="/app/controllers/common/rcHelpersFcty.js"></script>
	<script type="text/javascript" src="/app/controllers/common/rcCommonSrc.js"></script>

	<!--Utilities scripts-->
	<script type="text/javascript" src="/app/utilities/rcLoader.js"></script>
	<script type="text/javascript" src="/app/utilities/rcNotifier.js"></script>