<!-- STYLES -->

<link rel="stylesheet" href="/bower_components/toastr/toastr.css">
<link rel="stylesheet" type="text/css" href="/bower_components/ng-img-crop/compile/minified/ng-img-crop.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

<link href="app/stylesheets/pc/login.css" rel="stylesheet" type="text/css">
<link href="app/stylesheets/pc/home.css" rel="stylesheet" type="text/css">
<link href="app/stylesheets/pc/assets.css" rel="stylesheet" type="text/css">
<link href="app/stylesheets/pc/human_resource.css" rel="stylesheet" type="text/css">
<link href="app/stylesheets/pc/users.css" rel="stylesheet" type="text/css">
<link href="app/stylesheets/pc/clients.css" rel="stylesheet" type="text/css">
<link href="app/stylesheets/pc/common.css" rel="stylesheet" type="text/css">
<link href="app/stylesheets/pc/user_bar.css" rel="stylesheet" type="text/css">
<link href="app/stylesheets/pc/menu.css" rel="stylesheet" type="text/css">
<link href="app/stylesheets/pc/dialogs.css" rel="stylesheet" type="text/css">
<link href="app/stylesheets/pc/notifications.css" rel="stylesheet" type="text/css">

<link href="app/stylesheets/fonts.css" rel="stylesheet" type="text/css">

<!------------>