<!-- User bar -->
<ng-include src="'partials/views/common/userBar'"></ng-include>
<!-- Main container -->
<div class="container">
    <!-- Main menu -->
	<ng-include src="'partials/views/common/menu'"></ng-include>
	<!-- Second container -->
	<div class="assets_container" 
		 ng-class="{ collapsed: userInfo.menu_collapsed, expanded: !userInfo.menu_collapsed }"
		 ng-init="Initialize()">
		<!-- Second menu -->
        <div class="top_atach sub_menu">
            <div ng-class="{sub_menu_selected : sub_menu_sel == 1}">CLIENTES</div>
        </div>
        <!-- Cards Board -->
        <div class="assets_board">
            <!-- Basic search panel -->
            <div class="search_panel">
                <div><input type="text" placeholder="Buscar" ng-model="search.$"></div>
                <div><img src="app/resources/images/search.png"></div>
            </div>
            <!-- cards panel (ng-repeat) -->
            <div class="client_panel" 
                 ng-repeat="client in clients.items | filter:search">
                <div  class="part_a">
                    <div>{{client.name}}</div>
                    <img src="app/resources/images/detail.png" class="btn" ng-click="openClientDetailDialog(client)">
                </div>

                <div class="part_b">
                    <div>
                        <img src="app/resources/images/rfc.png">
                        <div>{{client.rfc}}</div>
                    </div>
                    <div>
                        <img src="app/resources/images/users.png">
                        <div>{{client.contact_name_1}}</div>
                    </div>
                    <div>
                        <img src="app/resources/images/phone.png">
                        <div>{{client.contact_phone_1}}</div>
                    </div>
                    <div>
                        <img src="app/resources/images/mail.png">
                        <div>{{client.contact_mail_1}}</div>
                    </div>
                </div>
            </div>
        </div>	
	</div>
</div>

<!-- Client footer -->
<div class="bottom_atach assets_footer">
    <div ng-click="openNewClientDialog()">
        <img src="app/resources/images/add.png"> Agregar
    </div>
    <div>
        <img src="app/resources/images/filters.png"> Filtros
    </div>
</div>

<!-- Client dialogs -->
<div class="smoke_screen" ng-show="open_dialog">
	<form class="asset_dialog" name="client_form" novalidate>
		<ng-include src="'partials/views/clients/clientDialog'"></ng-include>
	</form>
</div>