<!-- Header dialog -->

<div class="asset_header_dialog">
    <div ng-switch on="dialog_opened">
        <span ng-switch-when="1">Nuevo Cliente</span>
        <span ng-switch-when="2">Detalle de cliente</span>
        <span ng-switch-when="3">Editar cliente</span>
    </div>
    <div>
        <img src="app/resources/images/close.png" ng-click="closeDialog()" class="btn">
    </div>
</div>

<!-- Content dialog -->
<div class="asset_dialog_content">

    <div class="input_dialog">
        <p>Nombre Fiscal:</p>
        <input name="fiscal_name" ng-model="current_client.fiscal_name" type="text" ng-disabled="!editable_client" required>
    </div>

    <div class="input_dialog">
        <p>Nombre:</p>
        <input name="name" ng-model="current_client.name" type="text" ng-disabled="!editable_client" required>
    </div>

    <div class="input_dialog">
        <p>RFC:</p>
        <input name="rfc" ng-model="current_client.rfc" type="text" ng-disabled="!editable_client" required>
    </div>

    <div class="input_dialog">
        <p> Código postal:</p>
        <input name="zip" ng-model="current_client.zip" type="text" ng-pattern="regex.absolutInteger" ng-disabled="!editable_client" required>
    </div>

    <div class="input_address_dialog">
        <p>Dirección:</p>
        <input name="street" ng-model="current_client.address_parts.street" type="text" placeholder="Calle #Número" ng-disabled="!editable_client" required>
        <input name="suburb" ng-model="current_client.address_parts.suburb" type="text" placeholder="Colonia" ng-disabled="!editable_client" required>
        <select name="state" ng-model="current_client.address_parts.state" ng-disabled="!editable_client" ng-options="item for item in states" required>
        </select>
    </div>

    <div class="input_contact_dialog">
        <p>Contacto 1:</p>
        <input name="contact_name_1" ng-model="current_client.contact_name_1" type="text" placeholder="Nombre" ng-disabled="!editable_client" required>
        <input name="contact_mail_1" ng-model="current_client.contact_mail_1" type="email" placeholder="Correo Electrónico" ng-disabled="!editable_client" required>
        <input name="contact_phone_1" ng-model="current_client.contact_phone_1" type="text" ng-pattern="regex.phone" placeholder="Teléfono" ng-disabled="!editable_client" required>
    </div>

    <div class="input_contact_dialog">
        <p>Contacto 2:</p>
        <input name="contact_name_2" ng-model="current_client.contact_name_2" type="text" placeholder="Nombre" ng-disabled="!editable_client">
        <input name="contact_mail_2" ng-model="current_client.contact_mail_2" type="email" placeholder="Correo Electrónico" ng-disabled="!editable_client">
        <input name="contact_phone_2" ng-model="current_client.contact_phone_2" type="text" ng-pattern="regex.phone" placeholder="Teléfono" ng-disabled="!editable_client">
    </div>

    <div class="input_contact_dialog">
        <p>Contacto 3:</p>
        <input name="contact_name_3" ng-model="current_client.contact_name_3" type="text" placeholder="Nombre" ng-disabled="!editable_client">
        <input name="contact_mail_3" ng-model="current_client.contact_mail_3" type="email" placeholder="Correo Electrónico" ng-disabled="!editable_client">
        <input name="contact_phone_3" ng-model="current_client.contact_phone_3" type="text" ng-pattern="regex.phone" placeholder="Teléfono" ng-disabled="!editable_client">
    </div>

</div>

<!-- Footers dialog -->
<div ng-switch on="dialog_opened">
    <!-- When is a new item -->
    <div class="footer_dialog" ng-switch-when="1">
        <div class="btn" ng-click="addClient(current_client, address_parts)">
            <img src="app/resources/images/acept.png"> Agregar
        </div>

        <div class="btn" ng-click="closeDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
    <!-- When show item detail -->
    <div class="footer_dialog" ng-switch-when="2">
        <div class="btn" ng-click="openEditableClientDialog(current_client)">
            <img src="app/resources/images/edit.png"> Editar
        </div>

        <div class="btn" ng-click="openDeleteClientDialog()">
            <img src="app/resources/images/erase.png"> Eliminar
        </div>

        <div class="btn" ng-click="closeDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
    <!-- When is an editable item -->
    <div class="footer_dialog" ng-switch-when="3">
        <div class="btn" ng-click="editClient(current_client)">
            <img src="app/resources/images/acept.png"> Aceptar
        </div>

        <div class="btn" ng-click="closeDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
</div>

<!-- delete dialog question -->
<div class="smoke_screen" ng-show="open_delete_client_dialog">
	<div class="action_dialog">
		<ng-include src="'partials/views/clients/deleteClientDialog'"></ng-include>
	</div>
</div>