<div class="permission_module_header">
    <div><input name="module_name" type="checkbox"/><label><span>Módulo</span> ACTIVO FIJO</label></div>
    <div><label><span>Acceso Total</span></label><input name="module_name" type="checkbox"/></div>
</div>

<div class="permission_submodule">
    <div><input type="checkbox"/><label><span>Submódulo</span> ACTIVO FIJO</label></div>
    <div class="permission_tasks">
        <div><input type="checkbox"/><label>Vender</label></div>
        <div><input type="checkbox"/><label>Rentar</label></div>
        <div><input type="checkbox"/><label>Arrendar</label></div>
        <div><input type="checkbox"/><label>Modificar</label></div>
    </div>
</div>

<div class="permission_submodule">
    <div><input type="checkbox"/><label><span>Submódulo</span> ALMACÉN</label></div>
    <div class="permission_tasks">
        <div><input type="checkbox"/><label>Alta Activo Fijo</label></div>
        <div><input type="checkbox"/><label>Modificar</label></div>
    </div>
</div>