<div class="permission_module_header">
    <div><input name="module_name" type="checkbox"/><label><span>Módulo</span> RECURSOS HUMANOS</label></div>
    <div><label><span>Acceso Total</span></label><input name="module_name" type="checkbox"/></div>
</div>

<div class="permission_submodule">
    <div class="permission_tasks">
        <div><input type="checkbox"/><label>Alta de recurso humano</label></div>
        <div><input type="checkbox"/><label>Modificación de recurso humano</label></div>
        <div><input type="checkbox"/><label>Eliminar recurso humano</label></div>
    </div>
</div>
