<div class="permission_module_header">
    <div><input name="module_name" type="checkbox"/><label><span>Módulo</span> UBICACIONES</label></div>
    <div><label><span>Acceso Total</span></label><input name="module_name" type="checkbox"/></div>
</div>

<div class="permission_submodule">
    <div><input type="checkbox"/><label><span>Submódulo</span> LUGARES</label></div>
    <div class="permission_tasks">
        <div><input type="checkbox"/><label>Alta lugar</label></div>
        <div><input type="checkbox"/><label>Modificar lugar</label></div>
        <div><input type="checkbox"/><label>Eliminar lugar</label></div>
    </div>
</div>

<div class="permission_submodule">
    <div><input type="checkbox"/><label><span>Submódulo</span> CESIONES</label></div>
    <div class="permission_tasks">
        <div><input type="checkbox"/><label>Hacer cesión</label></div>
    </div>
</div>

<div class="permission_submodule">
    <div><input type="checkbox"/><label><span>Submódulo</span> ASIGNACIONES</label></div>
    <div class="permission_tasks">
        <div><input type="checkbox"/><label>Hacer asignación</label></div>
    </div>
</div>