<div class="permission_module_header">
    <div><input name="module_name" type="checkbox"/><label><span>Módulo</span> USUARIOS</label></div>
    <div><label><span>Acceso Total</span></label><input name="module_name" type="checkbox"/></div>
</div>

<div class="permission_submodule">
    <div><input type="checkbox"/><label><span>Submódulo</span> USUARIOS</label></div>
    <div class="permission_tasks">
        <div><input type="checkbox"/><label>Alta de usuario</label></div>
        <div><input type="checkbox"/><label>Modificación de usuario</label></div>
        <div><input type="checkbox"/><label>Eliminar usuario</label></div>
    </div>
</div>

<div class="permission_submodule">
    <div><input type="checkbox"/><label><span>Submódulo</span> ROLES</label></div>
    <div class="permission_tasks">
        <div><input type="checkbox"/><label>Agregar Rol</label></div>
        <div><input type="checkbox"/><label>Modificar Rol</label></div>
    </div>
</div>