<div class="simple_dialog" ng-show="dialog_opened == 1">
	<!-- Header dialog -->
	<div class="header_dialog">
		<div>Cerrar Sesión</div>
		<div class="btn" ng-click="closeDialog()">
			<img src="app/resources/images/close.png">
		</div>
	</div>
	<!-- Content dialog -->
	<div class="simple_dialog_content">
		<p> Seguro que deseas cerrar sesión? </p>
	</div>
	<!-- Footer dialog -->
	<div class="footer_dialog">
		<div class="btn" ng-click="startLogout();">
			<img src="app/resources/images/acept.png"> Aceptar
		</div>
		<div class="btn" 
			 ng-click="closeDialog()">
			<img src="app/resources/images/cancel.png"> Cancelar
		</div>
	</div>
</div>