<div 
class="left_atach menu" 
ng-controller="rcMenuCtrl"
ng-class="{ menu_expanded: !userInfo.menu_collapsed, menu_collapsed: userInfo.menu_collapsed }">
	<div class="options">
		
		<div ng-click="selectOption(1)" ng-class="{selected: selection == 1}">
			<div><img src="app/resources/images/assets.png"></div>
			<div ng-hide="userInfo.menu_collapsed">Activo Fijo</div>
		</div>
		
		<div ng-click="selectOption(2)" ng-class="{selected: selection == 2}">
			<div><img src="app/resources/images/locations.png"></div>
			<div ng-hide="userInfo.menu_collapsed">Ubicaciones</div>
		</div>
		
		<div ng-click="selectOption(3)" ng-class="{selected: selection == 3}">
			<div><img src="app/resources/images/clients.png"></div>
			<div ng-hide="userInfo.menu_collapsed">Clientes</div>
		</div>
		
		<div ng-click="selectOption(4)" ng-class="{selected: selection == 4}">
			<div><img src="app/resources/images/human_resource.png"></div>
			<div ng-hide="userInfo.menu_collapsed">R. Humanos</div>
		</div>
        
        <div ng-click="selectOption(5)" ng-class="{selected: selection == 5}">
			<div><img src="app/resources/images/system_users.png"></div>
			<div ng-hide="userInfo.menu_collapsed">Usuarios</div>
		</div>
		
	</div>
	
	<div class="show_more" ng-click="userInfo.setMenuCollapsed(!userInfo.menu_collapsed)">
		<div ng-class="{ left_arrow: !userInfo.menu_collapsed, right_arrow: userInfo.menu_collapsed }"></div>
	</div>
	
</div>