<div class="dialog" ng-show="dialog_opened == 2">
	<!-- Header dialog -->
	<div class="header_dialog">
		<div>Notificaciones</div>
		<div class="btn" ng-click="closeDialog()">
			<img src="app/resources/images/close.png">
		</div>
	</div>
	<!-- Content dialog -->
	<div class="dialog_content">
		
		<div class="notificationList"
			 ng-show="!not_content_diplay">
			
			<div class="notification"  
				 ng-repeat="n in userInfo.notifications">
				<div ng-class="{ not_viewed: !n.viewed }"
					 ng-click="viewNotContent(n)">
					{{n.subject}}
				</div>
				<div class="btn" 
					 title="Eliminar"
					 ng-click="deleteNotification(n)">
					<img src="app/resources/images/delete.png">
				</div>
				<div>{{n.created_date}}</div>
			</div>

		</div>
		
		<div class="notificationContent" 
			 ng-show="not_content_diplay">
			<div>
				<img class="btn" 
					 src="app/resources/images/back.png"
					 ng-click="viewNotList()">
				<div><b>{{current_notification.subject}}</b></div>
			</div>
			<div>
				{{current_notification.content}}
			</div>
		</div>
	
	</div>
	<!-- Footer dialog -->
	<div class="footer_dialog">
		<div class="btn" 
			 ng-click="closeDialog()">
			<img src="app/resources/images/acept.png"> Cerrar
		</div>
	</div>
</div>