<div ng-controller="rcUserBarCtrl">

<!-- User Bar -->
<div class="top_atach user_bar" ng-init=Initialize()>
	<!-- Here, the logo is shown -->
	<div></div>
	<!-- Here, the Noifications, User options and logout option are shown -->
	<div class="right_atach user_bar_options">
		
		<div class="btn" 
			 title="Ver Notificaciones"
			 ng-click="openDialog(2)">
			<p class="notification_num">{{userInfo.no_notifications}}</p>
			<img src="app/resources/images/notifications.png">
		</div>
		
		<div>
			<img src="app/resources/images/user.png"><p>{{userInfo.email}}</p>
		</div>
		
		<div class="btn" 
			 title="Cerrar Sesión" 
			 ng-click="openDialog(1)">
			<img src="app/resources/images/logout.png">
		</div>
	</div>
</div>

<!-- Logout, Profile and Notifications dialogs -->
<div class="smoke_screen" ng-show="open_dialog">
	<!-- Logout Dialog -->
	<ng-include src="'partials/views/common/logoutDialog'"></ng-include>
	<!-- Notifications Dialog -->
	<ng-include src="'partials/views/common/notificationsDialog'"></ng-include>	
</div>
	
</div>