<!-- User bar -->
<ng-include src="'partials/views/common/userBar'"></ng-include>

<div class="container">
	<ng-include src="'partials/views/common/menu'"></ng-include>
	<div 
		class="home_container" 
		ng-class="{ collapsed: userInfo.menu_collapsed, expanded: !userInfo.menu_collapsed }">
		
		<div class="center">
			<img src="app/resources/images/roca_logo.png">
			<div>BIENVENIDO</div>
<!--			<div>Tiene <b>{{no_notifications}}</b> Notificacion(es)</div>-->
			<div><b>{{userInfo.email}}</b></div>
		</div>
	</div>
</div>

<div class="bottom_atach main_footer">
	<div>Roca Urbanizaciones | Derechos reservados 2016</div>
</div>