<div class="top_atach main_bar" ng-init="Initialize()">
	<div></div>
	<div class="right_atach">Bienvenido</div>
</div>

<div class="container">
	<form class="login_control" name="login_form">
		<div></div>
		<div>
			<div class="img_inp">
				<img src="app/resources/images/users.png">
				<div>
					<input 
					   	name="email" 
				  		type="email" 
					  	ng-model="user.email"
						ng-keypress="pressEnter($event)" 
					   	placeholder="Correo Electrónico" 
					   	required>
				</div>
			</div>
			<div class="img_inp">
				<img src="app/resources/images/pass.png">
				<div>
					<input 
						name="password" 
						type="password" 
						ng-model="user.password" 
						ng-pattern="/^.{6,}$/" 
						placeholder="Contraseña" 
						ng-keypress="pressEnter($event)"
						required>
				</div>
			</div>
			<div></div>
		</div>
		<div>
			<div class="btn img_text_down" ng-click="startLogin()">
				<img src="app/resources/images/acept.png">
				<div>Aceptar</div>
			</div>
			<div class="btn img_text_down">
				<img src="app/resources/images/help.png">
				<div>Olvidaste tu<br>contraseña</div>
			</div>
		</div>
	</form>
</div>

<div class="bottom_atach main_footer">
	<div>Roca Urbanizaciones | Derechos reservados 2016</div>
</div>