.assets_container{
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
}

.assets_footer{
	background-color: #171717;
	color: white;
	height: 40px;
	text-align: center;
}
.assets_footer div{
	margin: 8px 20px 0px 20px;
	font-family: "rt";
	font-size: 13px;
	cursor: pointer;
	display: inline-block;
}
.assets_footer img{
	width: 25px;
	vertical-align: middle;
	margin-right: 5px;
}

.board{
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.assets_board{
	position: absolute;
	top: 40px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	overflow-y: auto;
}

.asset_panel{
	display: inline-block;
	height: 140px;
	width: 180px;
	background-color: white;
	margin: 5px;
	border-radius: 5px;
}
.asset_panel div{
	position: relative;
}
.asset_panel > div:nth-child(1){
	top: 0px;
	left: 0px;
	right: 0px;
	height: 63%;
}
.asset_panel > div:nth-child(1) img:nth-child(1){
	position: absolute;
	top: 1px;
	right: 3px;
	height: 20px
} 
.asset_panel > div:nth-child(1) img:nth-child(2){
	position: absolute;
	top: 50%;
	left: 50%;
	height: 70px;
	width: 70px;
	margin: -35px 0px 0px -35px;
	background-color: #ddd;
	border-radius: 100px;
} 
.asset_panel > div:nth-child(2){
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 37%;
	background-color: #ddd;
	border-radius: 0px 0px 5px 5px;
}
.asset_panel > div:nth-child(2) div{
	text-align: center;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	width: 90%;
	margin: 0px 10px;
}
.asset_panel > div:nth-child(2) div:nth-child(1){
	top: 10px;
	font-size: 15px;
	font-family: "rb";
}
.asset_panel > div:nth-child(2) div:nth-child(2){
	top: 11px;
	font-size: 12px;
}

.asset_header_dialog{
	height: 40px;
}
.asset_header_dialog div{
	display: inline-block;
	height: 40px;
	vertical-align: top;
	margin-top: 10px;
	text-align: center;
}
.asset_header_dialog img{
	width: 20px;
}
.asset_header_dialog div:nth-child(1){
	width: 95%;
}
.asset_header_dialog div:nth-child(2){
	width: 20px;
}
.asset_header_dialog input{
	height: 25px;
	margin-top: -5px;
	width: 300px;
	text-align: center;
}

.asset_dialog{
	position: absolute;
	width: 600px;
	height: 460px;
	top: 50%;
	left: 50%;
	margin: -230px 0px 0px -300px;
	background-color: #eee;
	border-radius: 8px;
	z-index: 101;
}
.asset_dialog > div{
	width: 100%;
}

.asset_dialog_content{
	height: 380px;
	background-color: white;
	text-align: center;
	overflow-y: auto;
    overflow-x: hidden;
	font-size: 14px;
    padding: 0px 10px;
}
.asset_images{
    height: 100px;
    margin: 10px 0px;
    text-align: center;
}
.asset_images div{
    height: 100px;
    width: 130px;
    background-color: #ccc;
    display: inline-block;
    margin: 0px 5px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.asset_images div img{
    height: 100px;
    overflow: hidden;
}

.rent_asset_dialog{
	position: absolute;
	width: 600px;
	height: 310px;
	top: 50%;
	left: 50%;
	margin: -160px 0px 0px -300px;
	background-color: #eee;
	border-radius: 8px;
	z-index: 101;
}
.rent_asset_dialog > div{
	width: 100%;
}
.rent_asset_dialog_content{
	height: 230px;
	background-color: white;
	text-align: center;
	overflow-y: auto;
    overflow-x: hidden;
	font-size: 14px;
    padding: 0px 10px;
}




