.client_panel{
	display: inline-block;
	height: 180px;
	width: 260px;
	background-color: #eee;
	margin: 5px;
	border-radius: 5px;
}
.client_panel > div{
	position: relative;
}
.client_panel > div:nth-child(1){
	top: 0px;
	left: 0px;
	right: 0px;
	height: 20%;
}

.client_panel > div:nth-child(2){
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 80%;
	background-color: #fff;
	border-radius: 0px 0px 5px 5px;
}

.part_a div{
	display: inline-block;
	vertical-align: middle;
	margin-top: 7px;
	margin-left: 5px;
	width: 220px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.part_a img{
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 9px;
}

.part_b > div{
	margin-bottom: 6px;
}

.part_b > div div{
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	margin-top: 7px;
	width: 220px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.part_b > div img{
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 7px;
	margin-left: 5px;
}

