/* GENERAL STYLES */

body, p, div, textarea {
	margin: 0px;
	padding: 0px;
	font-family: "rl";
}

input, select, textarea{
	font-family: "rt";
	font-size: 16px;
	outline:0px;
	border: 1px #999 solid;
}

input:disabled, select:disabled, textarea:disabled{
    background: #fff;
    border-width:0px;
    border:none;
}

p{ margin: 0px; }

.top_atach{ 
	position: absolute; top: 0px; left: 0px; right: 0px; 
}
.left_atach{ 
	position: absolute; top: 0px; left: 0px; bottom: 0px; 
}
.right_atach{ 
	position: absolute; top: 0px; right: 0px; bottom: 0px; 
}
.bottom_atach{ 
	position: absolute; bottom: 0px; left: 0px; right: 0px; 
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
}

::selection{ background: rgba(0, 0, 0, 0.0); }
::-moz-selection{ background: rgba(0, 0, 0, 0.0); }

input::selection, textarea::selection{ 
	background: rgba(0, 0, 0, 1); 
	color: white; 
}
input::-moz-selection, textarea::-moz-selection{ 
	background: rgba(0, 0, 0, 1);
	color: white; 
}

/* GENERAL CONTAINER STYLE */

.container{
	position: absolute;
	top: 40px;
	bottom: 40px;
	left: 0px;
	right: 0px;
	background-color: #f3f3f3;
	overflow-y: hidden;
}
.expanded{ left: 150px; }
.collapsed{ left: 45px; }

/* MAIN TOOL BAR */

.main_bar{
	height: 40px;
	background-color: #cd5449;
	overflow: hidden;
	vertical-align: top;
}
.main_bar div:nth-child(1){
	background-color: #943d35;
	display: inline-block;
	height: 100%;
	width: 150px;
	background-image: url(../../resources/images/roca_logo_white.png);
	background-position: center;
	background-size: 120px auto;
	background-repeat: no-repeat;	
}
.main_bar div:nth-child(2){
	display: inline-block;
	height: 100%;
	color: white;
	padding: 10px;
}

.main_footer{
	background-color: #171717;
	color: white;
	height: 40px;
}
.main_footer div{
	text-align: center;
	margin-top: 12px;
	font-family: "rt";
	font-size: 13px;
}

/* IMAGE AND TEXT BELOW STYLE */

.img_text_down{
	display: inline-block;
	text-align: center;
	color: #6d6d6d;
	vertical-align: top;
	margin: 0px 20px;
}
.img_text_down div{
	margin-top: 4px;
	font-size: 14px;
}
.img_text_down img{
	width: 28px;
}

/* GENERAL BUTTON STYLES */

.btn{ 
	cursor: pointer; 
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.btn:hover{
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.btn:active{
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.btn:focus{ outline:0px; }

.simple_btn{
    padding: 5px 10px;
    border: solid 1px #bbb;
    border-radius: 20px;
    margin: 5px 3px;
    color: #555;
    font-family: "rl";
    font-size: 14px;
    background-color: transparent;
}

.simple_btn_disabled{
    padding: 5px 10px;
    border: solid 1px #ccc;
    border-radius: 20px;
    margin: 5px 3px;
    color: #ccc;
    font-size: 14px;
    background-color: transparent;
}

/* TOAST STYLES */

#toast-container > .toast-success, #toast-container > .toast-error, #toast-container > .toast-info {
	background-size: 25px; !important;
	font-family: "rt"; !important;
}
#toast-container > .toast-success {
	background-image: url("../../resources/images/acept_white.png") !important;
}
#toast-container > .toast-error {
	background-image: url("../../resources/images/cancel_white.png") !important;
}
#toast-container > .toast-info {
	background-image: url("../../resources/images/info.png") !important;
}
.toast-top-right {
	top: 50px; !important;
	right: 10px; !important;
}

/* SROLLBAR STYLES */

::-webkit-scrollbar{
 	width: 8px;
	height: 8px;
	background: white;
	  -webkit-border-radius: 20px;
}
::-webkit-scrollbar-button{
  width: 5px;
  height: 5px;
  background: #bbb;
	display: none;
}
::-webkit-scrollbar-thumb{
  background: #bbb; 
  border-radius: 10px;
  -webkit-border-radius: 20px;
}

/* SUB MENU STYLES */

.sub_menu{
	height: 40px;
	background-color: white;
	font-size: 14px;
	font-family: "rt";
}
.sub_menu div{
	cursor: pointer;
	margin: 13px 20px 0px 30px;
	display: inline-block;
}
.sub_menu_selected{
	font-family: "rb";
	font-weight: bold;
}

/* SEARCH PANEL STYLES */

.search_panel{
	text-align: right;
	padding-right: 5px;
	height: 40px;
}
.search_panel div{
	display: inline-block;
	vertical-align: middle;
	margin-top: 2px;
	color: #666;
}
.search_panel img{
	width: 25px;
	margin: 6px 2px 0px 2px;
}
.search_panel input{
	height: 22px;
	width: 200px;
	padding: 2px 2px 2px 5px;
	text-align: right;
}
