.invisible{
	display: none;
}

.smoke_screen{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.header_dialog{
	height: 40px;
}
.header_dialog div{
	display: inline-block;
	height: 40px;
	vertical-align: top;
	margin-top: 10px;
	text-align: center;
}
.header_dialog img{
	width: 20px;
}
.header_dialog div:nth-child(1){
	width: 90%;
}
.header_dialog div:nth-child(2){
	width: 9%;
    height: 20px;
    text-align: right;
}
.header_dialog input{
	height: 25px;
	margin-top: -5px;
	width: 300px;
	text-align: center;
}

.footer_dialog{
	height: 40px;
	text-align: center;
}
.footer_dialog div{
	display: inline-block;
	margin: 5px 20px 0px 20px;
}
.footer_dialog img{
	height: 30px;
	vertical-align: middle;
}

.simple_dialog{
	position: absolute;
	width: 400px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin: -100px 0px 0px -200px;
	background-color: #eee;
	border-radius: 8px;
	z-index: 101;
}
.simple_dialog > div{
	width: 100%;
	overflow: hidden;
}

.simple_dialog_content{
	height: 60%;
	background-color: white;
}
.simple_dialog_content p { margin: 10px; }

.dialog{
	position: absolute;
	width: 400px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin: -150px 0px 0px -200px;
	background-color: #eee;
	border-radius: 8px;
	z-index: 101;
}
.dialog > div{
	width: 100%;
}

.dialog_content{
	height: 220px;
	background-color: white;
	overflow-y: auto;
}

.action_dialog{
    position: absolute;
	width: 350px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin: -100px 0px 0px -175px;
	background-color: #eee;
	border-radius: 8px;
	z-index: 101;
}

.action_dialog_content{
    width: 330px;
    height: 100px;
    padding: 10px 10px;
    background-color: white;
}

.panel_1{}
.panel_1 > div:nth-child(1){
	background-color: #ddd;
	width: 100%;
	height: 70%;
	margin: 5px 0px;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.panel_1 > div:nth-child(2){
	width: 100%;
	height: 25%;
}
.panel_1 > div:nth-child(2) div{
	width: 32.5%;
	height: 100px;
	background-color: #ddd;
	display: inline-block;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.panel_2{margin: 0px 7px;}

.input_dialog{
	text-align: left;
	height: 28px;
	margin: 5px 0px 10px 0px;
    //background-color: aqua;
}
.input_dialog p{
	display: inline-block;
	width: 160px;
	text-align: left;
	margin: 6px 0px;
}
.input_dialog input{
	text-align: right;
	display: inline-block;
	width: 400px;
	vertical-align: top;
	height: 90%;
	border: solid 1px #ccc;
}
.input_dialog select{
	display: inline-block;
	width: 402px;
	vertical-align: top;
	height: 100%;
	border: solid 1px #ccc;
}

.text_dialog{
	margin: 6px 0px;
}
.text_dialog p{
	text-align: left;
	margin-bottom: 5px;
}
.text_dialog textarea{
	text-align: right;
	resize: none;
	border: solid 1px #ccc;
	width: 556px;
}

.input_address_dialog, .input_contact_dialog{
    text-align: left;
    margin: 5px 0px 10px 0px; 
}
.input_address_dialog p, .input_contact_dialog p{ 
    margin-bottom: 3px;
}
.input_address_dialog input, .input_address_dialog select{ 
    display: inline-block;
    height: 25px;
    border: 1px #ccc solid;
    text-align: right;
    padding-right: 5px;
}
.input_address_dialog input:nth-child(2){ 
    display: inline-block;
    width: 253px;
}
.input_address_dialog input:nth-child(3){ 
    display: inline-block;
    width: 141px;
    height: 25px;
}
.input_address_dialog select{ 
    display: inline-block;
    width: 150px;
    height: 29px;
}

.input_contact_dialog input{
    text-align: right;
    padding-right: 5px;
    width: 180px;
    height: 25px;
    border: 1px #ccc solid;
}

.panel_3{}

.file_dialog{
	text-align: right;
	margin: 5px 0px 20px 0px;
}
.file_dialog p{
	text-align: left;
	margin-bottom: 5px;
}
.file_dialog div{
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	color: #888;
}
.file_dialog img{ width: 30px; }
.file_dialog div:nth-child(2){
	width: 144px;
	text-align: left;
}
.file_dialog div:nth-child(3){
	border: solid 1px #888;
	height: 23px;
	padding: 7px 10px 0px 10px;
}
.file_dialog div:nth-child(4){
	border: solid 1px #888;
	height: 23px;
	padding: 7px 10px 0px 10px;
	margin-left: 10px;
}

.hr_dialog{
	position: absolute;
	width: 780px;
	height: 360px;
	top: 50%;
	left: 50%;
	margin: -180px 0px 0px -390px;
	background-color: #eee;
	border-radius: 8px;
	z-index: 101;
}
.hr_dialog > div{
	width: 100%;
}
.hr_dialog_content{
	height: 280px;
	background-color: white;
	text-align: center;
	overflow-y: hidden;
	font-size: 14px;
}
.hr_dialog_content > div{
	width: 45%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.panel_1_hr{ margin-right: 10px;}

.panel_2_hr{}
