.home_container{
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
}
.home_container > div{
	width: 600px;
	height: 300px;
	margin: -150px 0px 0px -300px;
	text-align: center;
}
.home_container > div div:nth-child(2){
	font-size: 75px;
	font-family: "rt";
}
.home_container > div div:nth-child(3){
	font-size: 20px;
}