.circle_image{
    text-align: center;
    width: 230px;
}
.circle_image div{
    height: 120px;
    width: 120px;
    display: inline-block;
    overflow: hidden;
    border-radius: 300px;
    background-image: url("../../resources/images/user_default.png");
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}
.circle_image img{
    width: 120px;
}

.crop_image{
    
}
.crop_image > div{
    display: inline-block;
    background: #E4E4E4;
    overflow: hidden;
    width: 330px;
    height: 200px;
}

.hr_image_panel{
    text-align: left;
    margin: 10px 0px 5px 0px;
}
.hr_image_panel > div{
    display: inline-block;
    vertical-align: middle;
}

.doc_file{
    text-align: right;
    margin: 0px 10px 10px 0px;
}
.doc_file div{
    vertical-align: middle;
    display: inline-block;
}
.doc_status_up{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: chartreuse;
}

.preview_circle_image{
    margin: 0 auto;
    overflow: hidden;
    margin: 10px 0px 0px 0px;
}
.preview_circle_image img{
    width: 130px;
    border-radius: 200px;
}

.action_dialog_2{
    position: absolute;
	width: 400px;
	height: 330px;
	top: 50%;
	left: 50%;
	margin: -165px 0px 0px -200px;
	background-color: #eee;
	border-radius: 8px;
	z-index: 101;
}
.action_dialog_content_2{
    width: 380px;
    height: 230px;
    padding: 10px 10px;
    background-color: white;
}

.text_action_dialog{
	margin: 6px 0px;
}
.text_action_dialog p{
	text-align: left;
	margin-bottom: 5px;
}
.text_action_dialog textarea{
	text-align: right;
	resize: none;
	border: solid 1px #ccc;
	width: 378px;
}