.login_control{
	position: absolute;
	width: 500px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin: -150px 0px 0px -250px;
}
.login_control > div:nth-child(1){
	background-image: url(../../resources/images/roca_logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 90%;
	width: 100%;
	height: 50%;
}
.login_control > div:nth-child(2){
	width: 100%;
	height: 30%;
}
.login_control > div:nth-child(3){
	width: 100%;
	height: 20%;
	text-align: center;
}

.img_inp{
	text-align: center;
	margin: 10px 0px;
	color: #6d6d6d;
}
.img_inp div{
	display: inline-block;
	vertical-align: middle;	
}
.img_inp img {
	height: 25px;
	width: 25px;
	vertical-align: middle;
	margin-right: 5px;
}
.img_inp div{
	height: 30px;
	width: 250px;
}
.img_inp div input{
	height: 80%;
	width: 98%;
	padding: 2px 2px 2px 5px;
}