.menu{
	background-color: #202020;
	color: white;
	font-size: 13px;
	overflow-x: hidden;
}

.menu_collapsed{ width: 45px; }
.menu_expanded{ width: 150px; }

.menu > div{
	position: absolute;
	left: 0px;
	right: 0px;
}

/* Options */
.menu .options{
	top: 0px;
	bottom: 40px;
	overflow-y: auto;
	overflow-x: hidden;
}
.menu .options img{
	width: 25px;
	margin: 4px 10px 0px 10px;
}
.menu .options > div{
	width: 100%;
	height: 40px;
	cursor: pointer;
}
.menu .options > div:hover{
	background-color: #171717;
}
.menu .options > div div{
	display: inline-block;
	vertical-align: middle;
	margin-top: 4px;
}

/* Close Open buton */
.menu .show_more{
	bottom: 0px;
	height: 40px;
}
.menu .show_more div{
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -15px 0px 0px -15px; 
	background-color: #171717;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	background-position: center;
	background-size: 18px;
	background-repeat: no-repeat;
}

.selected{
	background-color: #171717;
}

.left_arrow{
	background-image: url(../../resources/images/arrow_menu.png);
}

.right_arrow{
	background-image: url(../../resources/images/arrow_menu_2.png);
}
