.notification{
	height: 35px;
	width: 100%;
	text-align: center;
}
.notification > div{
	display: inline-block;
	height: 20px;
	margin: 5px 0px;
	padding: 5px; 
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notification img{
	width: 25px;
	margin: -3px -2px 0px 0px; 
}
.notification:hover{
	background-color: #e5e5e5;
}
.notification div:nth-child(1){
	width: 230px;
	text-align: left;
	cursor: pointer;
}
.notification div:nth-child(2){
	width: 20px;
	text-align: left;
}
.notification div:nth-child(3){
	width: 90px;
	text-align: right;
}

.not_viewed{
	font-weight: bold;
	font-family: 'rb';
}

.notificationContent{
	margin: 10px;
}
.notificationContent img{
	width: 20px;
	vertical-align: top;
	margin-right: 5px;
	display: inline-block;
}
.notificationContent div:nth-child(1) div{
	display: inline-block;
	width: 340px;
	vertical-align: top;
	margin-top: 0px;
}
.notificationContent div:nth-child(2){
	margin-top: 20px;
}
