/* MAIN TOOL BAR */

.user_bar{
	height: 40px;
	background-color: #cd5449;
	overflow: hidden;
	vertical-align: top;
}

.user_bar div, .user_bar p{
	display: inline-block;
}

.user_bar > div:nth-child(1){
	background-color: #943d35;
	height: 100%;
	width: 150px;
	background-image: url(../../resources/images/roca_logo_white.png);
	background-position: center;
	background-size: 120px auto;
	background-repeat: no-repeat;	
}

.user_bar_options div, .user_bar_options p{
	vertical-align: top;
	color: white;
	margin: 6px 5px 0px 5px;
	cursor: pointer;
	font-family: "rl";
	font-size: 14px;
}

.user_bar_options img{
	width: 18px;
	margin-top: 5px;
}

.notification_num{
	background-color: #943d35;
	border-radius: 50px;
	width: 18px;
	height: 18px;
	text-align: center;
}