.user_panel{
	display: inline-block;
	height: 65px;
	width: 220px;
	background-color: #fff;
	margin: 5px;
	border-radius: 5px;
}
.user_panel div{
	position: relative;
}
.user_panel > div:nth-child(1){
	top: 0px;
	left: 0px;
	right: 0px;
	height: 30%;
}
.user_panel > div:nth-child(1) img:nth-child(1){
	position: absolute;
	top: 1px;
	right: 3px;
	height: 20px
} 
.user_panel > div:nth-child(1) img:nth-child(2){
	position: absolute;
	top: 50%;
	left: 50%;
	height: 70px;
	width: 70px;
	margin: -35px 0px 0px -35px;
	background-color: #ddd;
	border-radius: 100px;
} 
.user_panel > div:nth-child(2){
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 70%;
	border-radius: 0px 0px 5px 5px;
}
.user_panel > div:nth-child(2) div{
	text-align: center;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	width: 90%;
	margin: 0px 10px;
}
.user_panel > div:nth-child(2) div:nth-child(1){
	top: 5px;
	font-size: 15px;
	font-family: "rb";
}
.user_panel > div:nth-child(2) div:nth-child(2){
	top: 6px;
	font-size: 12px;
}

.permision_panel{
    display: inline-block;
	height: 20px;
	width: 220px;
	background-color: #fff;
	margin: 5px;
    padding: 5px;
	border-radius: 5px;
    overflow: hidden;
}
.permision_panel > div{
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
}
.permision_panel > div:nth-child(1){
    width: 195px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.permision_panel > div:nth-child(2){
    width: 20px;
}

.input_checkbox_dialog{
    text-align: left;
	height: 28px;
	margin: 5px 0px 10px 0px;
}
.input_checkbox_dialog p{
	display: inline-block;
	width: 200px;
	text-align: left;
	margin: 6px 0px;
}
.input_checkbox_dialog div{
	text-align: right;
    display: inline-block;
	height: 17px;
    width: 365px;
}
.input_checkbox_dialog input[type="checkbox"]{
    vertical-align: middle;
	height: 17px;
    width: 17px;
}

.hrLink{
    background-color: #eee;
    height: 147px;
    overflow-y: auto;
    width: 565px;
    margin: 0px 0px 0px 0px;
}
.hrLink > div{
    width: 548px;
    margin: 5px 5px 5px 5px;
    height: 40px;
    cursor: pointer;
}
.hrLink > div:hover{
    background-color: #ddd;
}
.hr_selected{
    background-color: #24cc43;
}
.hrLink > div p{
    width: 500px;
    margin-top: 12px;
    vertical-align: top;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
}
.he_selected{
    background-color: #888;
    color: #fff;
}
.hrLink > div span{
    font-weight: bold;
}
.hrLink > div img{
    width: 35px;
    height: 35px;
    margin-top: 3px;
    border-radius: 50px;
}

.permission_module{
    padding-top: 5px;
    text-align: left;
    width: 565px;
}
.permission_module span{
    font-weight: bold;
}
.permission_module input[type="checkbox"], .permission_module label{
    vertical-align: middle;
}
.permission_module_header{
    background-color: whitesmoke;
    padding: 3px 0px;
    margin-bottom: 10px;
}
.permission_module_header > div{
    display: inline-block;
    width: 280px;
}
.permission_module_header > div:nth-child(2){
    text-align: right;
}
.permission_module input[type="checkbox"]{
    width: 15px; height: 15px;
}
.permission_submodule{
    background-color: whitesmoke;
    padding: 5px 0px 0px 10px;
    margin-bottom: 10px
}
.permission_tasks{
    margin: 5px 0px;
    padding: 0px 0px 5px 10px;
}
.permission_tasks > div{
    margin: 10px 0px;
}