<ng-include src="'partials/views/common/userBar'"></ng-include>

<div class="container">
	<ng-include src="'partials/views/common/menu'"></ng-include>
	<div class="assets_container" 
		 ng-class="{ collapsed: userInfo.menu_collapsed, expanded: !userInfo.menu_collapsed }"
		 ng-init="Initialize()">
		
		<div class="top_atach sub_menu">
			<div ng-class="{sub_menu_selected : sub_menu_sel == 1}"
				 ng-click="selectOption(1)">ACTIVO FIJO</div>
			<div ng-class="{sub_menu_selected : sub_menu_sel == 2}"
				 ng-click="selectOption(2)">EN ALMACÉN	</div>
		</div>
		
		<div ng-switch on="sub_menu_sel">
			<div class="board" ng-switch-when="1">
				<ng-include src="'partials/views/assets/assetsBoard'"/>
			</div>
			<div class="board" ng-switch-when="2">
				<ng-include src="'partials/views/assets/warehouseBoard'"/>
			</div>
		</div>
		
	</div>
</div>

<!-- Assets Footers -->
<div ng-switch on="sub_menu_sel">
	<div ng-switch-when="1" class="bottom_atach assets_footer">
		<ng-include src="'partials/views/assets/assetsFooter'"></ng-include>
	</div>
	<div ng-switch-when="2" class="bottom_atach assets_footer">
		<ng-include src="'partials/views/assets/warehouseFooter'"></ng-include>
	</div>
</div>

<!-- Asset dialog -->
<div class="smoke_screen" ng-show="open_dialog">
	<form class="asset_dialog" name="asset_dialog" novalidate>
		<ng-include src="'partials/views/assets/assetDialog'"></ng-include>
	</form>
</div>