<!-- Header dialog -->
<div class="asset_header_dialog">
    <div ng-switch on="dialog_opened">
        <span ng-switch-when="1">Nuevo activo fijo</span>
        <span ng-switch-when="2">{{current_asset.name}}</span>
        <span ng-switch-when="3">Editar activo fijo</span>
    </div>
	<div>
		<img src="app/resources/images/close.png" ng-click="closeDialog()" class="btn">
	</div>
</div>

<!-- Content dialog -->
<div class="asset_dialog_content">

    <div class="asset_images">
        <div ng-style="photo_1">
            <img ngf-thumbnail="op.images_files[0]">
        </div>
        <div ng-style="photo_2">
            <img ngf-thumbnail="op.images_files[1]">
        </div>
        <div ng-style="photo_3">
            <img ngf-thumbnail="op.images_files[2]">
        </div>
        <div ng-style="photo_4">
            <img ngf-thumbnail="op.images_files[3]">
        </div>
    </div>
	
    <button class="simple_btn btn"
            ngf-select
            ng-show="editable_asset"
            ng-model="op.images_files" 
            ngf-multiple="true"
            ngf-max-files="4"
            accept="image/*"
            ng-disabled="!editable_asset"
            >Elegir Imágenes
    </button>
    
    <div class="input_dialog">
        <p>Estado de poseción:</p>
		<select
        name="possesion_status"
        ng-disabled="true"
        ng-model="current_asset.possession_status"
        required>
            <option value="propio">Activo fijo de la empresa</option>
            <option value="arrendado">Activo fijo arrendado</option>
            <option value="renta">Activo fijo para renta</option>
		</select> 
    </div>
    
    <div class="input_dialog">
        <p>Estado:</p>
		<select
        name="working_status"
        ng-disabled="!editable_asset"
        ng-model="current_asset.working_status"
        required>
            <option value="almacen">En almacén</option>
            <option value="activo">Activo(en obra)</option>
            <option value="inactivo">Inactivo(en obra)</option>
		</select> 
    </div>
    
    <div class="input_dialog">
        <p>Categoría:</p>
		<select
        name="category"
        ng-model="current_asset.category"
        ng-disabled="!editable_asset"
        ng-options="item for item in category_options"
        ng-change="onCategorySelected(current_asset.category)"
        required>
		</select> 
    </div>
    
    <div class="input_dialog">
        <p>Tipo:</p>
		<select
        name="subcategory"
        ng-disabled="!editable_asset"
        ng-model="current_asset.subcategory"
        ng-options="item for item in subcategory_options"
        required>
		</select> 
    </div>
    
    <div class="text_dialog">
        <p>Descripción:</p>
        <textarea ng-model="current_asset.description" 
                  ng-disabled="!editable_asset"></textarea>
	</div>
    
    <div class="input_dialog">
        <p>Marca:</p>
        <input name="brand" 
               ng-model="current_asset.brand" 
               ng-disabled="!editable_asset"
               type="text" required>
    </div>

    <div class="input_dialog"> 
        <p>Año:</p>
        <input name="year" 
               type="text" 
               ng-model="current_asset.year" 
               ng-disabled="!editable_asset"
               ng-pattern="regex.absolutInteger"
               required>
    </div>
    
    <div class="input_dialog"> 
        <p>Modelo:</p>
        <input name="model" 
               type="text" 
               ng-disabled="!editable_asset"
               ng-model="current_asset.model" 
               required>
    </div>
    
    <div class="input_dialog"> 
        <p>No. Serie:</p>
        <input type="text" 
               ng-disabled="!editable_asset"
               ng-model="current_asset.serial_number">
    </div>
    
    <div class="input_dialog"> 
        <p>Fecha resguardo:</p>
        <input type="text" 
               name="created_date"
               ng-model="current_asset.created_date"
               placeholder="dd/mm/yyyy"
               ng-disabled="!editable_asset"
               ng-pattern="regex.date"
               placeholder="dd/mm/aaaa"
               required>
    </div>

    <div class="input_checkbox_dialog">
        <p>Uso de combustible</p>
        <div>
            <input 
                name="fuel_used"
                type="checkbox" 
                ng-model="current_asset.fuel_used" 
                ng-disabled="!editable_asset">
        </div>
    </div>
    
    <div ng-show="current_asset.fuel_used">   
        <div class="input_dialog"> 
            <p>Combustible:</p>
            <select ng-model="current_asset.engine_assets_id.fuel_type" 
                    name="fuel_type"
                    ng-disabled="!editable_asset"
                    required>
                <option value="Gasolina">Gasolina</option>
                <option value="Diesel">Diesel</option>
                <option value="Gas">Gas</option>
              </select> 
        </div>

        <div class="input_dialog"> 
            <p>Tamaño de tanque:</p>
            <input type="text"
                   name="fuel_tank_size"
                   ng-disabled="!editable_asset"
                   ng-model="current_asset.engine_assets_id.fuel_tank_size"
                   required>
        </div>

        <div class="input_dialog"> 
            <p>Placas:</p>
            <input type="text" 
                   name="plates"
                   ng-disabled="!editable_asset"
                   ng-model="current_asset.engine_assets_id.plates"
                   required>
        </div>
    </div>
    
    <div>Archivos</div>
    
    <div class="input_dialog">
        <p>Seleciona el documento:</p>
        <select 
                name="documentSelected"
                ng-options="item for item in documents"
                ng-model="current_file.documentSelected"
                ng-disabled="{{!editable_asset || dialog_opened == 2}}"
                ng-change="onFileTypeSelected()">
        </select>
    </div>
    
    <div class="doc_file">
        <div ng-hide="dialog_opened == 2">{{current_file.name}}</div>
        <div class="simple_btn btn"
             ng-hide="dialog_opened == 2"
             ngf-select="onFileDataSelected(current_file.data)"
             ng-disabled="current_file.documentSelected == ''"
             ng-class="{ simple_btn_disabled : current_file.documentSelected == '', 
                         simple_btn :current_file.documentSelected != '' }"
             src="app/resources/images/document_up.png"
             ng-model="current_file.data">
            Seleccionar archivo
        </div>
        <button 
            class="btn"
            ng-hide="dialog_opened == 2"
            ng-disabled="!current_file.selected"
            ng-click="onRemoveFileSelected()"
            ng-class="{ simple_btn_disabled : !current_file.selected,
                        simple_btn : current_file.selected }">
            Remover archivo seleccionado
        </button><br>
        <div>{{current_file.uploaded ? "Archivo guardado en servidor" : "Archivo no guardado en servidor"}}</div><br>
        <button 
            class="btn"
            ng-disabled="!current_file.uploaded"
            ng-click="downloadDocument()"
            ng-class="{ simple_btn_disabled : !current_file.uploaded, 
                        simple_btn : current_file.uploaded }">
            Descargar archivo
        </button><br>
        
    </div>
    
</div>

<!-- Footer dialog -->
<div ng-switch on="dialog_opened">
    <!-- When is a new item -->
    <div class="footer_dialog" ng-switch-when="1">
        <div class="btn" ng-click="addAsset(current_asset, op.images_files)">
            <img src="app/resources/images/acept.png"> Agregar
        </div>

        <div class="btn" ng-click="closeDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
    <!-- When show item detail -->
    <div class="footer_dialog" ng-switch-when="2">
        <div class="btn" ng-click="openEditableAssetDialog(current_asset)">
            <img src="app/resources/images/edit.png"> Editar
        </div>
        
        <div class="btn" ng-click="openRentAssetDialog()" ng-if="sub_menu_sel == 1">
            <img src="app/resources/images/sale.png"> Rentar
        </div>

        <div class="btn" ng-click="openSaleAssetDialog()" ng-if="sub_menu_sel == 1">
            <img src="app/resources/images/sale.png"> Vender
        </div>
        
        <div class="btn" ng-click="openLeaseAssetDialog()" ng-if="sub_menu_sel == 1">
            <img src="app/resources/images/sale.png"> Arrendar
        </div>
        
        <div class="btn" ng-click="closeDialog()" ng-if="sub_menu_sel == 2">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
        
    </div>
    <!-- When is an editable item -->
    <div class="footer_dialog" ng-switch-when="3">
        <div class="btn" ng-click="editAsset(current_asset, op.images_files)">
            <img src="app/resources/images/acept.png"> Aceptar
        </div>

        <div class="btn" ng-click="closeDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
</div>

<!-- delete dialog question -->
<div class="smoke_screen" ng-show="open_rent_sale_lease_dialog">
    <div ng-switch on="rsl_dialog_opened">
        <div class="rent_asset_dialog" ng-switch-when="1">
            <ng-include src="'partials/views/assets/rentAssetDialog'"></ng-include>
        </div>
        <div class="rent_asset_dialog" ng-switch-when="2">
            <ng-include src="'partials/views/assets/saleAssetDialog'"></ng-include>
        </div>
        <div class="rent_asset_dialog" ng-switch-when="3">
            <ng-include src="'partials/views/assets/rentAssetDialog'"></ng-include>
        </div>
    </div>
</div>

