<div class="search_panel">
	<div><input type="text" placeholder="Buscar" ng-model="search.$"></div>
	<div><img src="app/resources/images/search.png"></div>
</div>

<div class="assets_board">

	<div class="asset_panel" ng-repeat="asset in assets.items | filter:search">
		<div>
			<img class="btn" 
				 src="app/resources/images/detail.png" 
				 ng-click="openAssetDetailDialog(asset)">
			<img>
		</div>
		<div>
			<div>{{asset.name}}</div>
			<div>{{asset.subcategory}}</div>
		</div>
	</div>

</div>

