<!-- Header dialog -->
<div class="asset_header_dialog">
    <div ng-switch on="rsl_dialog_opened">
        <span ng-switch-when="1">Rentar {{current_asset.name}}</span>
        <span ng-switch-when="2">Vender {{current_asset.name}}</span>
        <span ng-switch-when="3">Arrendar {{current_asset.name}}</span>
    </div>
	<div>
		<img src="app/resources/images/close.png" ng-click="closeRentSaleLeaseAssetDialog()" class="btn">
	</div>
</div>

<!-- Content dialog -->
<div class="rent_asset_dialog_content">
    
    <div class="input_dialog">
        <p>Precio:</p>
        <input name="rent_lease_price" 
               ng-model="rent_lease.price"
               ng-pattern="regex.absolutDecimal"
               ng-disabled="current_asset.possession_status == 'renta'"
               type="text"
               required>
    </div>
    
    <div class="input_dialog">
        <p>Lapso para pagos:</p>
        <select
            name="rent_lease_lapse"
            ng-model="rent_lease.lapse"
            ng-disabled="current_asset.possession_status == 'renta'"
            required>
            <option value="1">Semanalmente</option>
            <option value="2">Quincenalmente</option>
            <option value="4">Mensualmente</option>
            <option value="8">Bimestralmente</option>
            <option value="12">Trimestralmente</option>
            <option value="24">Semestralmente</option>
            <option value="48">Anualmente</option>
		</select> 
    </div>
    
    <div class="input_dialog"> 
        <p>Fecha de inicio:</p>
        <input type="text" 
               name="rent_lease_created_date"
               ng-model="rent_lease.created_date"
               ng-pattern="regex.date"
               ng-disabled="current_asset.possession_status == 'renta'"
               placeholder="dd/mm/aaaa"
               required>
    </div>
    
    <div class="input_dialog">
        <p>{{rsl_dialog_opened == 1 ? "Cliente" : "Prveedor"}}:</p>
        <select
            name="rent_lease_client_provider"
            ng-model="rent_lease.client_provider"
            ng-options="client.name + ' -> ' + client.category for client in clients track by client.id"
            ng-disabled="current_asset.possession_status == 'renta'"
            required>
            <option value="">{{rsl_dialog_opened == 1 ? "Cliente" : "Prveedor"}} sin definir</option>
        </select> 
    </div>

    <div class="text_dialog">
        <p>Descripción:</p>
        <textarea ng-model="rent_lease.description"
                  ng-disabled="current_asset.possession_status == 'renta'"></textarea>
	</div>
    
</div>

<!-- Footer dialog -->
<div ng-switch on="rsl_dialog_opened">
    <!-- Rent -->
    <div class="footer_dialog" ng-switch-when="1">
        <div class="btn" 
             ng-click="rentAsset(current_asset, rent_lease)"
             ng-show="current_asset.possession_status == 'propio'">
            <img src="app/resources/images/acept.png"> Rentar
        </div>
        
        <div class="btn" 
             ng-click="finishRent(rent_lease, current_asset)" 
             ng-show="current_asset.possession_status == 'renta'">
            <img src="app/resources/images/erase.png"> Terminar renta
        </div>

        <div class="btn" ng-click="closeRentSaleLeaseAssetDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
    <!-- Lease -->
    <div class="footer_dialog" ng-switch-when="3">
        <div class="btn" ng-click="leaseAsset(current_asset, rent_lease)">
            <img src="app/resources/images/acept.png"> Aceptar
        </div>

        <div class="btn" ng-click="closeRentSaleLeaseAssetDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
</div>