<!-- Header dialog -->
<div class="asset_header_dialog">
    <div>Vender {{current_asset.name}}</div>
	<div>
		<img src="app/resources/images/close.png" ng-click="closeRentSaleLeaseAssetDialog()" class="btn">
	</div>
</div>

<!-- Content dialog -->
<div class="rent_asset_dialog_content">
    
    <div class="input_dialog">
        <p>Tipo de pago:</p>
        <select
            name="sale_paymetn_type"
            ng-model="sale.paymetn_type"
            ng-change="onTypePaymentSelected(sale.paymetn_type)"
            required>
            <option value="1">Pago único</option>
            <option value="2">Pago parcial</option>
		</select> 
    </div>
    
    <div class="input_dialog">
        <p>Precio total:</p>
        <input name="sale_total_price" 
               ng-model="sale.total_price"
               type="text"
               required>
    </div>
    
    <div class="input_dialog" ng-show="sale.paymetn_type == 2">
        <p>Precio parcial:</p>
        <input name="sale_partial_price" 
               ng-model="sale.partial_payment"
               type="text"
               required>
    </div>
    
    <div class="input_dialog"> 
        <p>Fecha de Venta:</p>
        <input type="text" 
               name="sale_created_date"
               ng-model="sale.created_date"
               ng-pattern="regex.date"
               placeholder="dd/mm/aaaa"
               required>
    </div>
    
    <div ng-show="sale.paymetn_type == 2">
        <div class="input_dialog" >
            <p>Lapso para pagos:</p>
            <select
                name="sale_lapse"
                ng-model="sale.lapse"
                required>
                <option value="1">Semanalmente</option>
                <option value="2">Quincenalmente</option>
                <option value="4">Mensualmente</option>
                <option value="8">Bimestralmente</option>
                <option value="12">Trimestralmente</option>
                <option value="24">Semestralmente</option>
                <option value="48">Anualmente</option>
            </select> 
        </div>

        <div class="input_dialog">
            <p>No. pagos:</p>
            <input name="sale_no_payment" 
                   ng-model="sale.no_payment"
                   type="number"
                   required>
        </div>

        <div class="input_dialog"> 
            <p>Fecha de fin de pago:</p>
            <input type="text" 
                   name="sale_final_date"
                   ng-model="sale.final_date"
                   ng-pattern="regex.date"
                   placeholder="dd/mm/aaaa"
                   required>
        </div>

        <div class="input_dialog">
            <p>Cliente:</p>
            <select
                name="sale_client"
                ng-model="sale.client"
                required>
                <option value="undefined">Cliente sin definir</option>
            </select> 
        </div>

        <div class="text_dialog">
            <p>Descripción:</p>
            <textarea ng-model="sale.description"></textarea>
        </div>
    </div>
</div>

<div class="footer_dialog">
    <div class="btn" ng-click="sellAsset(sale, current_asset)">
        <img src="app/resources/images/acept.png"> Aceptar
    </div>

    <div class="btn" ng-click="closeRentSaleLeaseAssetDialog()">
        <img src="app/resources/images/cancel.png"> Cancelar
    </div>
</div>
