<div class="search_panel">
<!--
	<div class="btn"><img src="app/resources/images/back.png"></div>
	<div>1 de 4</div>
	<div class="btn"><img src="app/resources/images/next.png"></div>
-->
	<div><input type="text" placeholder="Buscar" ng-model="search_2.$"></div>
	<div><img src="app/resources/images/search.png"></div>
</div>

<div class="assets_board">

	<div class="asset_panel" ng-repeat="asset in assets.items | filter:{working_status:'almacen'} | filter:search_2">
		<div>
			<img class="btn" 
				 src="app/resources/images/detail.png"
				 ng-click="openAssetDetailDialog(asset)">
			<img>
		</div>
		<div>
			<div>{{asset.name}}</div>
			<div>{{asset.subcategory}}</div>
		</div>
	</div>

</div>
