@font-face {
    font-family: "rt";
    src: url(../resources/fonts/Roboto/Roboto-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "rl";
    src: url(../resources/fonts/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
    font-family: "rr";
    src: url(../resources/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "rb";
    src: url(../resources/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}