<!-- Header dialog -->
<div class="asset_header_dialog">
    <div>
        <span>AVISO</span>
    </div>
</div>

<!-- Content dialog -->
<div class="action_dialog_content">
    <div>Esta seguro que desea eliminar este usuario?</div>
</div>
    
<!-- Footers dialog -->
<div>
    <div class="footer_dialog">
        <div class="btn" ng-click="deleteUser(current_user)">
            <img src="app/resources/images/acept.png"> Aceptar
        </div>

        <div class="btn" ng-click="closeDeleteUserDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
</div>