<div class="search_panel">
	<div><input type="text" placeholder="Buscar" ng-model="search_2.$"></div>
	<div><img src="app/resources/images/search.png"></div>
</div>

<div class="assets_board">

	<div class="permision_panel" ng-repeat="permission in permissions.items | filter:search_2">
        <div>{{permission.name}}</div>
		<div>
			<img class="btn" 
				 src="app/resources/images/detail.png"
				 ng-click="openPermissionDetailDialog(permission)">
			<img>
		</div>
	</div>

</div>
