<!-- Header dialog -->
<div class="asset_header_dialog">
    <div ng-switch on="permission_dialog_opened">
        <span ng-switch-when="1">Nuevo rol</span>
        <span ng-switch-when="2">Detalle de rol</span>
        <span ng-switch-when="3">Editar rol</span>
    </div>
	<div>
		<img src="app/resources/images/close.png" 
             ng-click="closePermissionDialog()" class="btn">
	</div>
</div>

<!-- Content dialog -->
<div class="asset_dialog_content">
    <div class="input_dialog">
        <p>Nombre de Rol:</p>
        <input name="rol_name" ng-model="current_permission.name" type="text" ng-disabled="!editable_permission" required>
    </div>
    
    <div class="input_dialog">
        <p>Selecciona un Módulo:</p>
        <select name="module"
                ng-model="current_permission.module"
                ng-disabled="!editable_permission"
                ng-options="item for item in permissions.modules"
                ng-init="current_permission.module = permissions.modules[0]"
                required>
        </select>
    </div>
    
    <div ng-switch on="current_permission.module">
        <div class="permission_module" ng-switch-when="Activo Fijo">
            <ng-include src="'partials/views/users/permissionsModules/assets'"></ng-include>
        </div>
        <div class="permission_module" ng-switch-when="Ubicaciones">
            <ng-include src="'partials/views/users/permissionsModules/locations'"></ng-include>
        </div>
        <div class="permission_module" ng-switch-when="Clientes">
            <ng-include src="'partials/views/users/permissionsModules/clients'"></ng-include>
        </div>
        <div class="permission_module" ng-switch-when="R. Humanos">
            <ng-include src="'partials/views/users/permissionsModules/human_resources'"></ng-include>
        </div>
        <div class="permission_module" ng-switch-when="Usuarios">
            <ng-include src="'partials/views/users/permissionsModules/users'"></ng-include>
        </div>
    </div>
    
</div>

<!-- Footer dialog -->
<div ng-switch on="permission_dialog_opened">
    <!-- When is a new item -->
    <div class="footer_dialog" ng-switch-when="1">
        <div class="btn" ng-click="">
            <img src="app/resources/images/acept.png"> Agregar
        </div>

        <div class="btn" ng-click="closePermissionDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
    <!-- When show item detail -->
    <div class="footer_dialog" ng-switch-when="2">
        <div class="btn" ng-click="">
            <img src="app/resources/images/edit.png"> Editar
        </div>

        <div class="btn" ng-click="openDeletePermissionDialog()">
            <img src="app/resources/images/erase.png"> Eliminar
        </div>

        <div class="btn" ng-click="closePermissionDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
    <!-- When is an editable item -->
    <div class="footer_dialog" ng-switch-when="3">
        <div class="btn" ng-click="">
            <img src="app/resources/images/acept.png"> Aceptar
        </div>

        <div class="btn" ng-click="closePermissionDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
</div>

<!-- delete dialog question -->
<div class="smoke_screen" ng-show="open_delete_permission_dialog">
	<div class="action_dialog">
		<ng-include src="'partials/views/users/deletePermissionDialog'"></ng-include>
	</div>
</div>