<ng-include src="'partials/views/common/userBar'"></ng-include>

<div class="container">
	<ng-include src="'partials/views/common/menu'"></ng-include>
	<div class="assets_container" 
		 ng-class="{ collapsed: userInfo.menu_collapsed, expanded: !userInfo.menu_collapsed }"
		 ng-init="Initialize()">
		
		<div class="top_atach sub_menu">
			<div ng-class="{sub_menu_selected : sub_menu_sel == 1}"
				 ng-click="selectOption(1)">USUARIOS</div>
			<div ng-class="{sub_menu_selected : sub_menu_sel == 2}"
				 ng-click="selectOption(2)">ROLES</div>
		</div>
		
		<div ng-switch on="sub_menu_sel">
			<div class="board" ng-switch-when="1">
				<ng-include src="'partials/views/users/usersBoard'"/>
			</div>
			<div class="board" ng-switch-when="2">
				<ng-include src="'partials/views/users/permissionsBoard'"/>
			</div>
		</div>
		
	</div>
</div>

<!-- User Footers -->
<div ng-switch on="sub_menu_sel">
	<div ng-switch-when="1" class="bottom_atach assets_footer">
		<ng-include src="'partials/views/users/usersFooter'"></ng-include>
	</div>
	<div ng-switch-when="2" class="bottom_atach assets_footer">
		<ng-include src="'partials/views/users/permissionsFooter'"></ng-include>
	</div>
</div>

<!-- Users dialogs -->
<div class="smoke_screen" ng-show="open_user_dialog">
	<!-- Logout Dialog -->
	<form class="asset_dialog" name="user_form">
		<ng-include src="'partials/views/users/usersDialog'"></ng-include>
	</form>
</div>

<div class="smoke_screen" ng-show="open_permission_dialog">
	<!-- Logout Dialog -->
	<div class="asset_dialog">
		<ng-include src="'partials/views/users/permissionDialog'"></ng-include>
	</div>
</div>