<!-- Header dialog -->
<div class="asset_header_dialog">
    <div ng-switch on="user_dialog_opened">
        <span ng-switch-when="1">Nuevo usuario</span>
        <span ng-switch-when="2">Detalle de usuario</span>
        <span ng-switch-when="3">Editar usuario</span>
    </div>
	<div>
		<img src="app/resources/images/close.png" 
             ng-click="closeUserDialog()" class="btn">
	</div>
</div>

<!-- Content dialog -->
<div class="asset_dialog_content">
    
    <div class="input_dialog">
        <p>Correo Electrónico:</p>
        <input name="email" ng-model="current_user.email" type="email" ng-disabled="!editable_user" required>
    </div>
    
    <div class="input_dialog">
        <p>Contraseña:</p>
        <input name="password" ng-model="current_user.password" type="password" ng-disabled="!editable_user" required>
    </div>
    
    <div class="input_dialog">
        <p>Reescriba contraseña:</p>
        <input name="repass" ng-model="current_user.repass" type="password" ng-disabled="!editable_user" required>
    </div>
    
    <div class="input_dialog">
        <p>Rol:</p>
        <select 
                name="role"
                ng-model="current_user.role_name"
                ng-disabled="!editable_user"
                ng-options="item for item in permissions.roles"
                required>
        </select>
    </div>
    
    <div class="input_checkbox_dialog">
        <p>Asociar a recurso humano</p>
        <div><input type="checkbox" 
                    ng-model="current_user.hr_link" 
                    ng-disabled="!editable_user"
                    ng-click="updateHRLink(current_user.hr_link)"></div>
    </div>
    
    <div class="input_dialog" ng-show="current_user.hr_link">
        <p>Recurso humano:</p>
        <input type="text" 
               placeholder="Escriba para filtrar (Nombre o depto.)" 
               ng-model="options.search_hr" 
               id="hr_selection" 
               ng-disabled="!editable_user">
        <div class="hrLink" ng-show="editable_user">
            <div ng-repeat="hr in human_resources | filter:options.search_hr" ng-click="selectHR(hr)">
                <p>{{hr.name}}, <span>{{hr.department}}</span></p><img src="{{hr.url_image}}">
            </div>
        </div>
    </div>
</div>

<!-- Footer dialog -->
<div ng-switch on="user_dialog_opened">
    <!-- When is a new item -->
    <div class="footer_dialog" ng-switch-when="1">
        <div class="btn" ng-click="addUser(current_user)">
            <img src="app/resources/images/acept.png"> Agregar
        </div>

        <div class="btn" ng-click="closeUserDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
    <!-- When show item detail -->
    <div class="footer_dialog" ng-switch-when="2">
        <div class="btn" ng-click="openEditableUserDialog(current_user)">
            <img src="app/resources/images/edit.png"> Editar
        </div>

        <div class="btn" ng-click="openDeleteUserDialog()">
            <img src="app/resources/images/erase.png"> Eliminar
        </div>

        <div class="btn" ng-click="closeUserDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
    <!-- When is an editable item -->
    <div class="footer_dialog" ng-switch-when="3">
        <div class="btn" ng-click="editUser(current_user)">
            <img src="app/resources/images/acept.png"> Aceptar
        </div>

        <div class="btn" ng-click="closeUserDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
</div>

<!-- delete dialog question -->
<div class="smoke_screen" ng-show="open_delete_user_dialog">
	<div class="action_dialog">
		<ng-include src="'partials/views/users/deleteUsersDialog'"></ng-include>
	</div>
</div>