<div class="search_panel">
	<div><input type="text" placeholder="Buscar" ng-model="search.$"></div>
	<div><img src="app/resources/images/search.png"></div>
</div>

<div class="assets_board">

	<div class="user_panel" ng-repeat="user in users | filter:search">
		<div>
			<img class="btn" 
				 src="app/resources/images/detail.png" 
				 ng-click="openUserDetailDialog(user)">
		</div>
		<div>
			<div>{{user.email}}</div>
			<div>{{getPermissionName(user.role)}}</div>
		</div>
	</div>

</div>

