<!-- Header dialog -->
<div class="asset_header_dialog">
    <div>
        <span>AVISO</span>
    </div>
</div>

<!-- Content dialog -->
<div class="action_dialog_content_2">
    <div>Esta seguro que de eliminar este Recurso Humano?</div><br/>
    <div>Motivo de baja:</div>
      <label>
        <input type="radio" ng-model="current_human_resource.status" value="renuncia">
        Renuncia
      </label><br/>
    <label>
        <input type="radio" ng-model="current_human_resource.status" value="despido">
        Despido
      </label><br/>
    <label>
        <input type="radio" ng-model="current_human_resource.status" value="termino de contrato">
        Termino de contrato
      </label><br/>
    <label>
        <input type="radio" ng-model="current_human_resource.status" value="fallecimiento">
        Fallecimiento
    </label><br/><br/>
    
    <div class="text_action_dialog">
        <p>Descripción:</p>
        <textarea ng-model="delete_description"></textarea>
	</div>
</div>
    
<!-- Footers dialog -->
<div>
    <div class="footer_dialog">
        <div class="btn" ng-click="deleteHumanResource(current_human_resource, delete_description)">
            <img src="app/resources/images/acept.png"> Aceptar
        </div>

        <div class="btn" ng-click="closeDeleteHRDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
</div>