<!-- User bar -->
<ng-include src="'partials/views/common/userBar'"></ng-include>
<!-- Main container -->
<div class="container">
    <!-- Main menu -->
	<ng-include src="'partials/views/common/menu'"></ng-include>
    <!-- Second container -->
	<div class="assets_container" 
		 ng-class="{ collapsed: userInfo.menu_collapsed, expanded: !userInfo.menu_collapsed }"
		 ng-init="Initialize()">
		<!-- Second menu -->
        <div class="top_atach sub_menu">
            <div ng-class="{sub_menu_selected : sub_menu_sel == 1}">RECURSOS HUMANOS</div>
        </div>
        <!-- Cards Board -->
        <div class="assets_board">
            <!-- Basic search panel -->
            <div class="search_panel">
                <div><input type="text" placeholder="Buscar" ng-model="search.$"></div>
                <div><img src="app/resources/images/search.png"></div>
            </div>
            <!-- cards panel (ng-repeat) -->
            <div class="asset_panel" 
                 ng-repeat="human_resource in humanResource.items | filter:search">
                <div>
                    <img class="btn" 
                         src="app/resources/images/detail.png" 
                         ng-click="openHumanResourceDetailDialog(human_resource)">
                    <img src="{{human_resource.url_image}}">
                </div>
                <div>
                    <div>{{human_resource.name}}</div>
                    <div>{{human_resource.department}}</div>
                </div>
            </div>
        </div>
	</div>
</div>

<!-- Human resources footer -->
<div class="bottom_atach assets_footer">
    <div ng-click="openNewHumanResourceDialog()">
        <img src="app/resources/images/add.png"> Agregar
    </div>
    <div>
        <img src="app/resources/images/filters.png"> Filtros
    </div>
</div>

<!-- Human resources dialogs -->
<div class="smoke_screen" ng-show="open_dialog">
	<form class="asset_dialog" name="human_resource_dialog" novalidate>
		<ng-include src="'partials/views/humanResource/humanResourceDialog'"></ng-include>
	</form>
</div>