<!-- Header dialog -->
<div class="asset_header_dialog">
    <div ng-switch on="dialog_opened">
        <span ng-switch-when="1">Nuevo recurso humano</span>
        <span ng-switch-when="2">Detalle de recurso humano</span>
        <span ng-switch-when="3">Editar recurso humano</span>
    </div>
	<div class="btn">
		<img src="app/resources/images/close.png" ng-click="closeDialog()">
	</div>
</div>

<!-- Content dialog -->
<div class="asset_dialog_content">

    <div ng-show="dialog_opened == 1 || dialog_opened == 3">
        <div class="hr_image_panel">
            <div class="crop_image">
                <div ngf-drop ng-model="final_image.file"
                     ngf-pattern="image/*">
                    <img-crop 
                              area-min-size="30"
                              image="final_image.file | ngfDataUrl"
                              result-image="final_image.base64">
                    </img-crop>
                </div>
            </div>

            <div class="circle_image">
                <div>
                    <img ng-src="{{final_image.base64}}">
                </div>
            </div>
        </div>

        <div class="btn simple_btn" 
             ngf-select 
             ng-model="final_image.file" 
             style="width: 200px; margin: 0px auto; margin-bottom: 10px"
             accept="image/*">
            Click aquí para elegir imágen
        </div>
    </div>
    
    <div class="preview_circle_image" ng-show="dialog_opened == 2">
        <img ng-src="{{current_human_resource.url_image}}">
    </div>
    
    <div class="input_dialog">
        <p>Nombre:</p>
        <input 
               name="name"
               ng-model="current_human_resource.name"
               type="text" 
               ng-disabled="!editable_human_resource"
               required>
    </div>
    
    <div class="input_dialog">
        <p>Genero:</p>
        <select 
               name="gender"
               ng-model="current_human_resource.gender"
               ng-disabled="!editable_human_resource"
               required>
        <option value="Hombre">Hombre</option>
        <option value="Mujer">Mujer</option>
        </select>
    </div>
    
    <div class="input_dialog">
        <p>Departamento:</p>
        <select 
                name="department"
                ng-model="current_human_resource.department"
                ng-disabled="!editable_human_resource"
                ng-options="item for item in departments"
                required>
        </select>
    </div>
    
    <div class="input_dialog">
        <p>CURP:</p>
        <input 
               name="curp"
               ng-model="current_human_resource.curp"
               type="text" 
               ng-disabled="!editable_human_resource"
               required>
    </div>
    
    <div class="input_dialog">
        <p>RFC:</p>
        <input 
               name="rfc"
               ng-model="current_human_resource.rfc"
               type="text" 
               ng-disabled="!editable_human_resource"
               required>
    </div>
    
    <div class="input_dialog">
        <p>Número de seguro:</p>
        <input 
               name="social_security_number"
               ng-model="current_human_resource.social_security_number"
               type="text" 
               ng-disabled="!editable_human_resource"
               required>
    </div>
    
    <div class="input_dialog">
        <p>Teléfono:</p>
        <input 
               name="phone"
               ng-model="current_human_resource.phone"
               type="text" 
               ng-pattern="regex.phone"
               ng-disabled="!editable_human_resource"
               required>
    </div>
    
    <div class="input_dialog">
        <p>Email:</p>
        <input 
               name="email"
               ng-model="current_human_resource.email"
               type="email" 
               ng-disabled="!editable_human_resource"
               required>
    </div>
    
    <div class="input_dialog">
        <p>Fecha de nacimiento:</p>
        <input 
               name="birthday"
               ng-model="current_human_resource.birthday"
               type="text" 
               ng-pattern="regex.date"
               placeholder="dd/mm/aaaa"
               ng-disabled="!editable_human_resource"
               required>
    </div>
    
    <div class="input_dialog">
        <p>Nacionalidad:</p>
        <select 
               name="nationality"
               ng-model="current_human_resource.nationality"
               ng-disabled="!editable_human_resource"
               required>
        <option value="Mexicano(a)">Mexicano(a)</option>
        <option value="Extranjero(a">Extranjero(a)</option>
        </select>
    </div>
    
    <div class="input_dialog">
        <p>Estado civil:</p>
        <select 
               name="marital_status"
               ng-model="current_human_resource.marital_status"
               ng-disabled="!editable_human_resource"
               required>
        <option value="Soltero(a)">Soltero(a)</option>
        <option value="Casado(a)">Casado(a)</option>
        <option value="Comprometido(a)">Comprometido(a)</option>
        <option value="Divorciado(a)">Divorciado(a)</option>
        <option value="Viudo(a)">Viudo(a)</option>
        </select>
    </div>
    
    <div class="input_address_dialog">
        <p>Dirección:</p>
        <input 
               name="street"
               ng-model="current_human_resource.address_parts.street" 
               type="text"
               placeholder="Calle #Número" 
               ng-disabled="!editable_human_resource"
               required>
        <input 
               name="suburb"
               ng-model="current_human_resource.address_parts.suburb" 
               type="text" 
               placeholder="Colonia" 
               ng-disabled="!editable_human_resource"
               required>
        <select 
               name="state"
               ng-model="current_human_resource.address_parts.state"
               ng-disabled="!editable_human_resource"
               ng-options="item for item in states"
               required>
        </select>
    </div>
    
    <div class="input_dialog">
        <p>Ubicación:</p>
        <select 
               name="location_id"
               ng-model="current_human_resource.location_id"
               ng-disabled="!editable_human_resource">
        </select>
    </div>
    
    <div class="text_dialog">
        <p>Descripción:</p>
        <textarea 
                  ng-disabled="!editable_human_resource"
                  ng-model="current_human_resource.description">
        </textarea>
	</div>
    
    <div>Archivos</div>
    
    <div class="input_dialog">
        <p>Seleciona el documento:</p>
        <select 
                name="documentSelected"
                ng-options="item for item in documents"
                ng-model="current_file.documentSelected"
                ng-disabled="{{!editable_human_resource || dialog_opened == 2}}"
                ng-change="onFileTypeSelected()">
        </select>
    </div>
    
    <div class="doc_file">
        <div ng-hide="dialog_opened == 2">{{current_file.name}}</div>
        <div class="simple_btn btn"
             ng-hide="dialog_opened == 2"
             ngf-select="onFileDataeSelected(current_file.data)"
             ng-disabled="current_file.documentSelected == ''"
             ng-class="{ simple_btn_disabled : current_file.documentSelected == '', 
                         simple_btn :current_file.documentSelected != '' }"
             src="app/resources/images/document_up.png"
             ng-model="current_file.data">
            Seleccionar archivo
        </div>
        <button 
            class="btn"
            ng-hide="dialog_opened == 2"
            ng-disabled="!current_file.selected"
            ng-click="onRemoveFileSelected()"
            ng-class="{ simple_btn_disabled : !current_file.selected,
                        simple_btn : current_file.selected }">
            Remover archivo seleccionado
        </button><br>
        <div>{{current_file.uploaded ? "Archivo guardado en servidor" : "Archivo no guardado en servidor"}}</div><br>
        <button 
            class="btn"
            ng-disabled="!current_file.uploaded"
            ng-click="downloadDocument()"
            ng-class="{ simple_btn_disabled : !current_file.uploaded, 
                        simple_btn : current_file.uploaded }">
            Descargar archivo
        </button><br>
        
    </div>
    
</div>

<!-- Footer dialog -->
<div ng-switch on="dialog_opened">
    <!-- When is a new item -->
    <div class="footer_dialog" ng-switch-when="1">
        <div class="btn"
             ng-click="addHumanResource(current_human_resource)">
            <img src="app/resources/images/acept.png"> Agregar
        </div>
        
        <div class="btn" ng-click="closeDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
    <!-- When is a detail item -->
    <div class="footer_dialog" ng-switch-when="2">
        <div class="btn" ng-click="closeDialog()">
            <img src="app/resources/images/acept.png"> Aceptar
        </div>
        
        <div class="btn" ng-click="openEditableHumanResourceDialog(current_human_resource)">
            <img src="app/resources/images/edit.png"> Editar
        </div>
        
        <div class="btn" ng-click="openDeleteHRDialog()">
            <img src="app/resources/images/erase.png"> Dar de baja
        </div>
    </div>
    <!-- When is an editable item -->
    <div class="footer_dialog" ng-switch-when="3">
        <div class="btn" ng-click="editHumanResource(current_human_resource)">
            <img src="app/resources/images/acept.png"> Aceptar
        </div>

        <div class="btn" ng-click="closeDialog()">
            <img src="app/resources/images/cancel.png"> Cancelar
        </div>
    </div>
</div>

<!-- delete dialog question -->
<div class="smoke_screen" ng-show="open_delete_hr_dialog">
	<div class="action_dialog_2">
		<ng-include src="'partials/views/humanResource/deleteHumanResourceDialog'"></ng-include>
	</div>
</div>