<ng-include src="'partials/views/common/userBar'"></ng-include>

<div class="container">
	<ng-include src="'partials/views/common/menu'"></ng-include>
</div>

<div class="bottom_atach main_footer">
	<div>Roca Urbanizaciones | Derechos reservados 2016</div>
</div>